@model Category
@{
    ViewBag.PageTitle = "Category Management";
    ViewBag.CardTitle = "Delete Category";

    Layout = "~/Views/shared/_Dashboard.cshtml";

}


<div class="row">
    <div class="col-4">
        <form asp-action="DeleteCategory" method="post">

            <input hidden asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"> </div>
            <div class="md-3">
                <label asp-for="Name"> </label>
                <input class="form-control" disabled asp-for="Name" />
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>

            <div class="md-3">
                <label asp-for="Description"> </label>
                <input class="form-control" disabled asp-for="Description" />
                <span class="text-danger" asp-validation-for="Description"></span>

            </div>

            <br />
            <div class="md-3">
                <button class="btn btn-danger" type="submit">Delete</button>
                <a class="btn btn-warning" asp-action="Index" asp-controller="Category">Back</a>
            </div>

        </form>

    </div>
</div>

<!-- Clint Side Validation -->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}